$my-bg-color: #D3F4FF;
$my-text-color: #1C2529;
nav.navbar {
    background-color: $my-bg-color !important;
    .navbar-nav .nav-link span{
    color: darken($my-text-color, 15);
    font-weight: 600;
}
}
footer.o_footer {
    background-color: $my-bg-color !important;
    color: $my-text-color;
}

.mb64 {
    background-color: $my-bg-color !important;
    color: $my-text-color;
}

.mb64 h1{
    font-size: large;
}
